@import '../../../../assets/style/scss/global';


.keywords{
    margin-top: 2.1rem;
    width: max-content;
    padding: 1rem 0px;
    margin-top: 1rem !important;
    
    li{
        display: inline-block;
        margin-right: .6rem;

        a{
            color: $white-color;
            background-color: $light-black-color;
            padding: 0.4rem 2rem;
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 5px;
            transition: .3s;
            
            &:hover{
                transition: .3s;
                background: $dark-pink-color;
            }

            @include small-tap{
                font-size: 1rem;
            }
            @include mobile{
                font-size: .9rem;
                padding: 0.4rem 1.7rem;
            }
            @include mini-mobile{
                font-size: 14px;
            }
            
            &:last-of-type{
                margin-right: 0px;
            }
        }
    }
}


//the scrollbar styles
.my-scrollbar {
    --scrollbar-border-radius: 7px;
    --scrollbar-padding: 0px !important;
    --scrollbar-viewport-margin: 0;
    --scrollbar-track-color: transparent;
    --scrollbar-wrapper-color: transparent;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.172) !important;
    --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
    --scrollbar-size: 5px;
    --scrollbar-hover-size: var(--scrollbar-size);
    --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
    --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
    margin-bottom: 1rem;
}
