
<div class="download" *ngIf="MovieData.fushaarid">
        <ul>
            <li><a onmouseover="self.status='Downloadable file'; return true" onmouseout="self.status=''" onclick="alert('!To Download Right-click on the button and use save as. if your on a phone long press on the button and press save as'); return false" [href]="fushaarapi240">
                <svg class="ion-icon">
                    <use href="/assets/icons.svg#icon-download"></use>
                </svg>
                240p
            </a></li>

            <li><a onmouseover="self.status='Downloadable file'; return true" onmouseout="self.status=''" onclick="alert('!To Download Right-click on the button and use save as. if your on a phone long press on the button and press save as'); return false" [href]="fushaarapi480">
                <svg class="ion-icon">
                    <use href="/assets/icons.svg#icon-download"></use>
                </svg>
                480p
            </a></li>

            <li><a onmouseover="self.status='Downloadable file'; return true" onmouseout="self.status=''" onclick="alert('!To Download Right-click on the button and use save as. if your on a phone long press on the button and press save as'); return false" [href]="fushaarapi1080">
                <svg class="ion-icon">
                    <use href="/assets/icons.svg#icon-download"></use>
                </svg>
                1080p
            </a></li>
        </ul>
</div>
<div class="clear"></div>
