
<div class="privacy-policy">
    <div class="privacy-policy__info">
        <h2>Privacy Policy</h2>
        <p>Your privacy is very important to us. We respect your privacy and will not sell any information collected on our website to third parties. We will only use this data to improve our website, marketing, send email newsletters, and provide services to users.</p>
    </div>
    <div class="privacy-policy__info">
        <h2>Website Analytics</h2>
        <p>This website uses Google Analytics to measure traffic to the website. This helps us determine how well the content we create is serving our users and what we need to do to improve our website.</p>
    </div>

    <p class="privacy-policy__warning">
        FlexNet does not store any files on its server. All contents are provided by non-affiliated third parties.
    </p>
</div>
