/*
    /////////////////////
        Responsive
    /////////////////////
*/

$laptop:  1100px;
$small-laptop:  950px;
$large-tap:  800px;
$tap:  700px;
$small-tap:  600px;
$mobile:  550px;
$mid-mobile:  480px;
$small-mobile:  400px;
$mini-mobile:  350px;

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}
@mixin small-laptop {
    @media (max-width: #{$small-laptop}) {
        @content;
    }
}
@mixin large-tap {
    @media (max-width: #{$large-tap}) {
        @content;
    }
}
@mixin tap {
    @media (max-width: #{$tap}) {
        @content;
    }
}
@mixin small-tap {
    @media (max-width: #{$small-tap}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
@mixin mid-mobile {
    @media (max-width: #{$mid-mobile}) {
        @content;
    }
}
@mixin small-mobile {
    @media (max-width: #{$small-mobile}) {
        @content;
    }
}
@mixin mini-mobile {
    @media (max-width: #{$mini-mobile}) {
        @content;
    }
}