/*
    /////////////////////
        vars
    /////////////////////
*/

//Website Colors Var

$black-color: #121212;
$light-black-color: #292929;
$white-color: #bdbdbd;
$dark-pink: #8b325e;
$mid-pink: #d996b8;
$light-pink: #e6d4dd;

$normal-radius: 5px;
$mid-radius: 15px;
$hight-radius: 20px;
