/*
    /////////////////////
        vars
    /////////////////////
*/

//Website Colors Var

$black-color: #121212;
$light-black-color: #292929;
$mid-black-color: #191919;
$lighter-black-color: #383838;
// $white-color: #bdbdbd;
$white-color: #e9e9e9;
$dark-pink-color: #8b325e;
$mid-pink-color: #d996b8;
$light-pink-color: #e6d4dd;
$super-white-color: #fbfbfb;
$gold-color: #ffb733;

$small-radius: 3px;
$normal-radius: 5px;
$mid-radius: 15px;
$hight-radius: 20px;

//font sizes

$mid-font-size: 15px;
$small-font-size: 13px;
