<div class="container">
    <nav class="nav animated fadeInRight">
        <div class="nav__logo">
            <a [routerLink]="'/'"></a>
        </div>

        <ul class="nav__links">

            <li class="remove-on-tap">
                <a [routerLink]="'.'" [class.active]="route.url === '/#search'" [fragment]="'search'">
                    <svg class="ion-icon">
                        <use href="./assets/icons.svg#icon-search"></use>
                    </svg>
                </a>
            </li>

            <li class="remove-on-tap">
                <a [routerLink]="'/'" [class.active]="route.url === '/'">
                    <svg class="ion-icon">
                        <use href="./assets/icons.svg#icon-home"></use>
                    </svg>
                </a>
            </li>



            <li>
                <a [routerLink]="'request'">
                    <svg class="ion-icon">
                        <use href="./assets/icons.svg#icon-add"></use>
                    </svg>
                </a>
            </li>

            <li class="view-on-tap">
                <a [routerLink]="'/'" [class.active]="route.url === '/'">
                    <svg class="ion-icon">
                        <use href="./assets/icons.svg#icon-home"></use>
                    </svg>
                </a>
            </li>

            <li class="view-on-tap">
                <a [routerLink]="'.'" [class.active]="route.url === '/#search'" [fragment]="'search'">
                    <svg class="ion-icon">
                        <use href="./assets/icons.svg#icon-search"></use>
                    </svg>
                </a>
            </li>

        </ul>
    </nav>
</div>