@import "../../../../assets/style/scss/global";

:host {
    .container {
        @include tap {
            width: 100%;
        }
    }
}

.view-on-tap {
    display: none !important;

    @include tap {
        display: inline-flex !important;
    }
}

.remove-on-tap {
    @include tap {
        display: none !important;
    }
}

.nav {
    width: 30%;
    margin-top: 2rem;
    max-width: 80px;
    background-color: $light-black-color;
    position: fixed;
    border-radius: $normal-radius;
    text-align: center;
    box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.25);

    @include tap {
        width: 100% !important;
        z-index: 5;
        max-width: 100%;
        position: fixed;
        bottom: 0px;
    }

    &__logo {
        width: 100%;
        margin: 0px auto;
        background: $dark-pink-color;
        border-top-left-radius: $normal-radius;
        border-top-right-radius: $normal-radius;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tap {
            display: none;
        }

        a {
            height: 35px;
            width: 80%;
            display: block;
            padding: 1.6rem 0px;
            background-image: url("/assets/images/white-logo.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        } //the main img tag for the logo
    } //the main logo part

    &__links {
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2.5rem;

            &:first-of-type {
                margin-top: 2.5rem;

                @include tap {
                    margin: 0;
                }
            }

            a {

                @include tap{
                    padding: 0.9rem 0px .3rem 0px;
                }

                &.active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.7rem 0px;
                    border-right: 4px solid #8b325e;

                    @include tap {
                        border-right: none;
                        border-bottom: 4px solid #8b325e;
                    }
                }
            }

            @include tap {
                margin: 0;
                width: calc(100% / 3.1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
        .ion-icon {
            fill: $white-color;
            width: 26px;
            height: 26px;

            @include tap {
                width: 26px;
                height: 26px;
            }
        } //all the icons inside the nav

        .active {
            background: $white-color;
            opacity: 1;
            width: 100%;

            .ion-icon {
                fill: $dark-pink-color;
            }
        } //the active state based on the url
    }
} //the nav element
