
<nav class="nav">
    <div class="nav__logo">
        <a href="/"></a>
    </div>

    <ul class="nav__links">

        <li><a href="">
            <svg class="ion-icon">
                <use href="./assets/icons.svg#icon-search"></use>
            </svg>
        </a></li>

        <li><a href="">
            <svg class="ion-icon active">
                <use href="./assets/icons.svg#icon-home"></use>
            </svg>
        </a></li>

        <li><a href="">
            <svg class="ion-icon">
                <use href="./assets/icons.svg#icon-genra"></use>
            </svg>
        </a></li>

        <li><a href="">
            <svg class="ion-icon">
                <use href="./assets/icons.svg#icon-add"></use>
            </svg>
        </a></li>

    </ul>
</nav>
