
<form [attr.id]="'search'" [class.active]="router.url === '/#search'" class="search animated fadeIn fast">
    
    <input (click)="loadslugs()" [(ngModel)]="moviename" list="movies-names" name="search" type="text" placeholder="Movie Name" title="Add your movie name to search">

    <button (click)="search()">
        <svg class="ion-icon">
            <use href="assets/icons.svg#icon-search"></use>
        </svg>
    </button>

    <datalist id="movies-names">
        <ng-container *ngIf="Slugs">
            <option *ngFor="let slug of Slugs.slugs" [value]="slug"></option>
        </ng-container>
    </datalist>
</form>