@import "../../../assets/style/scss/global";

.card {
    height: 60vh !important;
    min-height: 400px !important;
    max-height: 450px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $normal-radius;

    @include tap {
        max-height: 300px !important;
    }

    .movie {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        margin: 0 !important;

        &__details {
            background: linear-gradient(0deg, #121212 -4.65%, rgba(18, 18, 18, 0) 35.9%);
            border-bottom: 4px solid $dark-pink-color;
        }
        &__play {
            opacity: 0;
            animation-duration: 0.3s;
            background: linear-gradient(0deg, $dark-pink-color 9.04%, rgba(18, 18, 18, 0) 37.9%);
            border-bottom: 4px solid white;

            p {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ion-icon {
                        display: none;
                        height: 20px;

                        @include tap{
                            display: flex;
                        }
                    }
                }
            }
        }

        &__play,
        &__details {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 15px;
            font-weight: 900;
            width: 100%;
            height: 100%;
            padding: 0.4rem 0px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            position: absolute;
            transition: .6s;

            p,
            p a,
            p a .icon-icon {
                fill: $white-color; //to make it more white
                animation-duration: 2s;
                animation-fill-mode: both;
                animation-timing-function: cubic-bezier(0.4, 0, 1, 1);                
                animation-iteration-count: infinite;
                animation-name: glow;
            } //the p and a and the icon
        } //for both the divs

        &:hover .movie__details {
            opacity: 0;
            transition: .4s;
        }

        &:hover .movie__play {
            opacity: 1;
            transition: .4s;
        }
    }
}

// .movie:hover .movie__play{
//     display: block !important;
// }
