@import '../../../assets/style/scss/global';

.card{
    height: 60vh !important;
    min-height: 400px !important;
    max-height: 450px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $normal-radius;

    @include tap{
        max-height: 300px !important;
    }
}