<section *ngIf="show === true">
    <div class="movie" *ngFor="let moviedata of movie" [lazyLoad]="moviedata.moviebg">

        <app-loader class="loader" [text]="'image'"></app-loader>

        <div class="overlay">
            <div class="container">
                <div class="movie__info">
                    
                    <h2>{{ moviedata.title | truncate:[25] }}</h2>

                    <ul class="basic">
                        <li>
                            <svg class="ion-icon">
                                <use href="/assets/icons.svg#icon-star"></use>
                            </svg>
                            {{ moviedata.rating }}/10
                        </li>
                        <li>
                            <svg class="ion-icon">
                                <use href="/assets/icons.svg#icon-time"></use>
                            </svg>
                            {{ moviedata.duration }}
                        </li>
                        <li *ngIf="moviedata.pg">
                            <svg class="ion-icon">
                                <use href="/assets/icons.svg#icon-pg"></use>
                            </svg>
                            PG-{{ moviedata.pg }}
                        </li>
                    </ul>

                    <ul class="genras">
                        <span>Genra:</span>
                        <li *ngFor="let genra of moviedata.tags">
                            <a [routerLink]="'/tags/'+genra">{{ genra }}</a>
                        </li>
                    </ul>

                    <p class="movie__info__story">
                        {{ moviedata.story | truncate:[160] }}
                    </p>

                    <div class="bg-btn">
                        <a [routerLink]="moviedata.slug" title="Flexnet Watch {{moviedata.title}}"> Watch Now </a>
                        <a [routerLink]="moviedata.slug">
                            <svg class="ion-icon">
                                <use xlink:href="./assets/icons.svg#icon-info"></use>
                            </svg>
                        </a>
                    </div>

                </div> 
                
                <div class="movie__info__side-way-btn">
                    <h3 class="movie__info__side-way-btn__title"></h3>
                    <a [routerLink]="moviedata.slug" class="movie__info__side-way-btn__btn">
                        <svg class="ion-icon">
                            <use xlink:href="./assets/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
                
                <!-- <div class="ticket"></div> -->
            </div><!-- container -->
        </div>
    </div>
</section>