@import "../../../../assets/style/scss/global";

.ng-lazyloading {
    transform: translateX(-16px) !important;
    .loader {
        display: block !important;
    }
    .overlay {
        display: none !important;
    }
}

.ng-lazyloaded {
    transform: translateX(0) !important;
    transition: opacity 0.5s, transform 0.5s !important;
    transition-delay: 0.3s !important;
    .loader {
        display: none !important;
    }
    .overlay {
        display: flex !important;
    }
}

.movie {
    background-position: center;
    background-size: cover;
    background-repeat: none;
    border-radius: $normal-radius;
    width: 100%;
    height: 60vh;
    margin-top: 2rem;
    max-height: 600px;

    @include laptop {
        height: 60vh;
    }
    @include tap {
        height: 70vh !important;
        text-align: center;
        border-radius: $normal-radius;
    }

    .overlay {
        border-radius: $normal-radius;
        background: linear-gradient(90deg, rgba(75, 26, 63, 0.92) 30.3%, rgba(90, 33, 76, 0) 116.65%);
        // background: linear-gradient(90deg, rgba(75, 26, 63, 0.89) 33.97%, rgba(90, 33, 76, 0) 116.65%);
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include small-laptop{
           background: rgba(75, 26, 63, 0.8);
        }

        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: auto;

        @include small-laptop{
            text-align: center;
            margin: 0px auto !important;
        }

        h2 {
            font-size: 2.4rem;
            max-width: 600px;
            font-weight: 400;
            margin-bottom: 1rem;
            @include laptop {
                font-size: 2.2rem;
            }
            @include small-laptop {
                font-size: 2rem;
            }
            @include large-tap {
                font-size: 1.7rem;
            }
            @include tap {
                padding-top: 0.5rem;
            }
        } // the movies main headline

        .basic {
            margin: 0.7rem 0px 2rem 0px;
            @include tap {
                margin: 0.4rem 0px;
            }

            li {
                color: $white-color;
            }
        } //basic div

        .genras {
            opacity: 0.9;

            span,
            li a {
                font-weight: 500;
            }

            span {
                margin-right: 0.4rem;
            } //the genra word

            li {
                margin-right: 0.5rem;
                &:last-of-type {
                    margin: 0px;
                }

                a {
                    color: $white-color;
                    padding: 0px 0.3rem;
                    text-decoration: underline;
                    @include large-tap {
                        font-size: 0.9rem;
                    }
                } //each link
            } //genra li
        } //the genra div

        &__story {
            border-left: 5px solid $white-color;
            margin: 1rem 0px 2rem 0px;
            font-weight: 600;
            font-size: 1rem;
            opacity: 0.9;
            width: 90%;
            max-width: 600px !important;
            padding-left: 0.7rem;
            @include laptop {
                font-size: 1rem;
                font-weight: 400;
            }
            @include small-laptop {
                width: 95%;
                border-top: 2px solid rgba(255, 255, 255, 0.5);
                border-left: none !important;
                padding-top: .4rem;
            }
            @include large-tap {
                font-size: 0.9rem;
            }
        } // end of the story

        li {
            display: inline-flex;
            align-items: center;
            margin-right: 1rem;
            font-weight: 600;
            color: $white-color;

            &:last-of-type {
                margin: 0px;
            }

            .ion-icon {
                width: 22px;
                fill: $white-color;
                margin-right: 0.5rem !important;

                &:last-of-type {
                    margin: 0px;
                }

                @include tap {
                    width: 19px;
                }
            } //icons
        } //the li

        .bg-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;

            @include small-laptop{
                width: 100%;
            }

            a {
                background: rgb(255, 255, 255);
                color: $dark-pink-color;
                padding: 0.7rem 8rem;
                border-bottom-left-radius: $normal-radius;

                @include small-laptop{
                    width: 100%;
                    border-bottom-right-radius: $normal-radius;
                }
                @include large-tap{
                    padding: 0.4rem 0rem;
                    font-size: 1.3rem;
                }
                
                &:last-of-type {
                    background-color: #826976;
                    border-top-right-radius: $normal-radius;
                    border-bottom-left-radius: 0 !important;
                    padding: 0.7rem 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    @include small-laptop{
                        display: none;
                    }

                    .ion-icon {
                        fill: $white-color;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        } //main btn

        &__side-way-btn {
            right: 0;
            position: absolute;
            margin-left: auto;
            width: 20%;
            height: 60vh;
            max-width: 75px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            background-color: rgb(139, 50, 94, 0.8);
            border-top-right-radius: $normal-radius;
            border-bottom-right-radius: $normal-radius;

            @include small-laptop{
                display: none;
            }

            &__title {
                background: url("../../../../assets/images/netflex.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 33%;
                height: 56%;
                margin: 4rem auto auto auto;
            }

            &__btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 15%;
                background: $white-color;
                border-bottom-right-radius: $normal-radius;

                .ion-icon {
                    fill: $dark-pink-color;
                    height: 30px;
                    width: 30px;
                }
            }
        }
    } //info div

    // .ticket{
    //     background-image: url('../../../../assets/images/ticket.png');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     width: 19%;
    //     height: 60vh;
    //     background-position: center;
    // }
}
