<!-- this is movie player -->
<section class="movie-player" [attr.id]="'movieplayer'" *ngIf="MovieData">
    <div class="container">

        <div class="servers animated fadeIn delay-1" *ngIf="MovieData.servers.length > 0">
            <ng-scrollbar class="my-scrollbar">
                <ul *ngIf="MovieData.servers">

                    <ng-template [ngIf]="vikv == true">
                       <li [class.active]="activeServer === 'vikvserver'"
                            [class.server1-active]="activeServer === 'vikvserver'" id="server1"
                            (click)="activeServer = 'vikvserver'">
                            <svg class="ion-icon">
                                <use href="/assets/icons.svg#icon-premium"></use>
                            </svg>
                            Premium S1
                        </li>
                    </ng-template>
                    <!-- ranging on the servers andd adding btns for every one -->
                    <li *ngFor="let wserver of MovieData.servers; let i = index" 
                        [class.active]="activeServer === i+1"
                        (click)="activeServer = i+1">S{{i+1}}
                    </li>

                </ul>
            </ng-scrollbar>
        </div> <!-- servers scroll div -->

        <div id="movie-player" class="animated fadeIn delay-1-5">

            <ng-template [ngIf]="( MovieData.fushaarid && activeServer === 'fushaarserver')">
                <div *ngIf="player" class="plyr animated fadeIn" plyr [plyrTitle]="MovieData.title"
                    [plyrPlaysInline]="'true'" [plyrSources]="videoSources" [plyrPoster]="MovieData.moviebg">
                </div>
            </ng-template>

            <ng-template [ngIf]="(vikv == true && activeServer == 'vikvserver')">
                <span [innerHTML]="MovieData.imdbid | moviePlayer:'vikv'"></span>
            </ng-template>

            <!-- ranging for every server and added its own ifrme with its source -->
            <div *ngFor="let movieiframe of MovieData.servers; let i = index">
                <span *ngIf="activeServer === i+1" [innerHTML]="movieiframe | moviePlayer"></span>
            </div>

        </div>

        <div class="attrib">
            <div class="report">
                <app-report></app-report>
            </div>
            <p>support us by sharing the movie with your friends and family
            </p>
        </div> <!-- the end of the attrib div -->
    </div> <!-- this the end of the movie div -->

    <!-- the support section -->
    <app-support></app-support>
</section>