@import './assets/style/scss/global';

.container{
    width: 95%;
    margin: 0px auto !important;
}
.ion-icon{
    fill: $white-color;
    width: 30px;
    height: 30px;
}
.main{
    width: calc(100% - 120px ); //the 100px is the nav max-width number
    float: right;

    @include tap{
        width: 100%;
    }
}
footer{
    margin: 2rem;
}

// .swiper-container-free-mode > .swiper-wrapper {
//     padding-top: 20px !important;
// }

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.slider-title {
    padding: 1rem 0px 0.7rem 0px !important;
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: .7rem 0px !important;

    @include tap{
        font-weight: 600;
        margin-top: .3rem !important;
    }

    @include mobile{
        font-size: 1.5rem;
    }

    @include small-mobile{
        font-size: 1.3rem;
    }
}

section{
    .slider-title{
        padding: 2rem 0px .7rem 0rem !important;
    }
}

.ng-lazyloading {
    opacity: 0.4;
    transform: translateY(-16px);
}

.ng-lazyloaded {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .8s, transform .5s !important;
    transition-delay: .3s !important;
}
