@import './assets/style/scss/global';


.container{
    width: 95%;
    margin: 0px auto;
}
.ion-icon{
    fill: $white-color;
    width: 30px;
    height: 30px;
}
.main{
    width: calc(100% - 120px ); //the 100px is the nav max-width number
    float: right;

    @include tap{
        width: 100%;
    }
}
.swiper-button-next,
.swiper-button-prev{
    display: none !important;
}
.slider-title{
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: .7rem 0px !important;
}